:root {
  /* Colors */
  --black: #1a1a1a;
  --lightBlack: #2b2b2b;
  --gray: #d0d0d0;
  --accentuationSombre: #6ed6e0;
  --accentuationClair: #1a00ff;

  /* Typography */
  --font-montserrat: "Montserrat Alternates", sans-serif;

  /* Font sizes */
}
