:root {
  /* Colors */
  --black: #1a1a1a;
  --lightBlack: #2b2b2b;
  --gray: #d0d0d0;
  --accentuationSombre: #6ed6e0;
  --accentuationClair: #1a00ff;
}

.bg-black { background-color: var(--black); }
.bg-lightBlack { background-color: var(--lightBlack); }
.bg-gray { background-color: var(--gray); }
.bg-accentSombre { background-color: var(--accentuationSombre); }
.bg-accentClair { background-color: var(--accentuationClair); }

/* Text Colors */
.text-black { color: var(--black); }
.text-lightBlack { color: var(--lightBlack); }
.text-gray { color: var(--gray); }
.text-accentSombre { color: var(--accentuationSombre); }
.text-accentClair { color: var(--accentuationClair); }
