:root {
  --black: #1a1a1a;
  --dark-black: #000000;
  --lightBlack: #2b2b2b;
  --gray: #d0d0d0;
  --accentuationSombre: #6ed6e0;
  --accentuationClair: #003f88;
}

@layer utilities {
  .bg-black {
    background-color: var(--black);
  }

  .bg-dark-black {
    background-color: var(--dark-black);
  }

  .bg-lightBlack {
    background-color: var(--lightBlack);
  }

  .bg-gray {
    background-color: var(--gray);
  }

  .bg-accentuationSombre {
    background-color: var(--accentuationSombre);
  }

  .bg-accentuationClair {
    background-color: var(--accentuationClair);
  }

  .text-black {
    color: var(--black);
  }

  .text-lightBlack {
    color: var(--lightBlack);
  }

  .text-gray {
    color: var(--gray);
  }

  .text-accentuationSombre {
    color: var(--accentuationSombre);
  }

  .text-accentuationClair {
    color: var(--accentuationClair);
  }

  .border-black {
    border-color: var(--black);
  }

  .border-lightBlack {
    border-color: var(--lightBlack);
  }

  .border-gray {
    border-color: var(--gray);
  }

  .border-accentuationSombre {
    border-color: var(--accentuationSombre);
  }

  .border-accentuationClair {
    border-color: var(--accentuationClair);
  }

  .b-black {
    border-bottom-color: var(--lightBlack);
  }
}