:root {
  /* Typography */
  --montserrat-alternates: "Montserrat Alternates", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

@layer utilities {
  /* Classes pour les Texte */
  .text16 {
    font-family: var(--montserrat);
    font-size: 16px;
  }

  .text24 {
    font-family: var(--montserrat);
    font-size: 24px;
  }

  .text32 {
    font-family: var(--montserrat);
    font-size: 32px;
  }

  /* Classes pour les Titres */
  .title24 {
    font-family: var(--montserrat-alternates);
    font-weight: bold;
    font-size: 24px;
  }

  .title32 {
    font-family: var(--montserrat-alternates);
    font-weight: bold;
    font-size: 32px;
  }

  .title48 {
    font-family: var(--montserrat-alternates);
    font-weight: bold;
    font-size: 48px;
  }

  .title64 {
    font-family: var(--montserrat-alternates);
    font-weight: bold;
    font-size: 64px;
  }

  .title128 {
    font-family: var(--montserrat-alternates);
    font-weight: bold;
    font-size: 128px;
  }
}
