:root {
  /* Typography */
  --montserrat-alternates: "Montserrat Alternates", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

@layer utilities {

  /* ---------------------------- */
  /*        TEXT UTILITIES        */
  /* ---------------------------- */

  .text16 {
    font-family: var(--montserrat);
    font-size: clamp(14px, 2vw, 16px);
  }

  .text20 {
    font-family: var(--montserrat);
    font-size: clamp(16px, 2.5vw, 20px);
  }

  .text24 {
    font-family: var(--montserrat);
    font-size: clamp(18px, 3vw, 24px);
  }

  .text32 {
    font-family: var(--montserrat);
    font-size: clamp(22px, 4vw, 32px);
  }

  .text48 {
    font-family: var(--montserrat);
    font-size: clamp(28px, 6vw, 48px);
  }

  .logo {
    font-family: var(--montserrat-alternates);
    font-size: clamp(26px, 4vw, 32px);
  }

  /* ---------------------------- */
  /*        TITLE UTILITIES       */
  /* ---------------------------- */

  .title24 {
    font-family: var(--montserrat-alternates);
    font-weight: bold;
    font-size: clamp(20px, 3vw, 24px);
  }

  .title32 {
    font-family: var(--montserrat-alternates);
    font-weight: bold;
    font-size: clamp(24px, 4vw, 32px);
  }

  .title48 {
    font-family: var(--montserrat-alternates);
    font-weight: bold;
    font-size: clamp(28px, 6vw, 48px);
  }

  .title64 {
    font-family: var(--montserrat-alternates);
    font-weight: bold;
    font-size: clamp(36px, 8vw, 64px);
  }

  .title128 {
    font-family: var(--montserrat-alternates);
    font-weight: bold;
    font-size: clamp(60px, 15vw, 128px);
  }
}